body {
    padding: 20px;
}

#table {
    text-align: center !important;
    font-size: 22pt;
}

td {
    padding-top: 15px !important;
}

#table > thead {
    font-weight: bold;
}

#back, #next, #today {
    background: dodgerblue;
    color: white;
    padding: 5px;
    font-weight: bold;
    width: 100%;
}

@media (min-width: 1000px) {
    #table {
        font-size: 13pt;
    }
}